@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --text-color: black;
    --bg: rgb(85, 66, 209);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: wheat;
    padding: 20px 40px;
    border-radius: 2.5%;
    box-shadow: 2px -2px 10px rgba(22, 22, 22, 0.712); /* X Y opacity color*/
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightslategray;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px grey solid;
    display: block;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}

.form-control input:focus, .form-control input:valid {
    outline: 0;
    border-bottom-color: grey;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: salmon ;
    color: black;
    padding: 15px;
    font-family: inherit; /*pegar o que ja ta*/
    font-size: 16px;
    font-weight: bolder;
    border: 0;
    border-radius: 2.5%;
}

.btn:focus {
    outline: 0;
}

.btn:active{
    transform: scale(0.98) /*faz movimento de click*/
}

.text {
    margin-top: 30px;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span, 
.form-control input:valid + label span {
    color: gray;
    transform: translateY(-30px);
}